---
---

@import "{{ site.theme }}";

.inner {
    max-width: 75%;
}

blockquote {
    color: #4f4f4f;
}

p img {
    border: 1px solid #373737;
    max-width: 100%;
}

video {
    display: block;
    margin: auto;
    max-width: 100%;
}