---
---

@import "{{ site.theme }}";

.inner {
    max-width: 75%;
}

blockquote {
    color: #4f4f4f;
}

img {
    border: 3px solid black;
    max-width: 100%;
}

img, video {
    max-width: 100%;
}